<h2 mat-dialog-title>{{ data?.id ? 'Editar Reserva' : 'Nueva Reserva' }}</h2>

<mat-dialog-content>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

 <!-- Campo Usuario -->
 <mat-form-field appearance="fill">
  <mat-label>Usuario</mat-label>
  <mat-select formControlName="customerId" required>
    <mat-option *ngFor="let user of users" [value]="user.id">
      {{ user.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

    <!-- Campo Servicio -->
    <mat-form-field appearance="fill">
      <mat-label>Servicio</mat-label>
      <mat-select formControlName="serviceId" required>
        <mat-option *ngFor="let service of services" [value]="service.id">
          {{ service.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

   

    <!-- Campo Fecha -->
    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Selecciona una fecha" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Campo Hora -->
    <mat-form-field appearance="fill">
      <mat-label>Hora</mat-label>
      <input matInput formControlName="time" required>
    </mat-form-field>

    <!-- Campo Número de Invitados -->
    <mat-form-field appearance="fill">
      <mat-label>Número de Invitados</mat-label>
      <input matInput type="number" formControlName="numberOfGuests" required>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancelar</button>
      <button mat-button color="primary" type="submit">Guardar</button>
    </div>
  </form>
</mat-dialog-content>